<template>
    <div class="picklist-container">
        <template if:false={disabled}>
            <lightning-combobox name="picklist" label={label} value={value} variant={variant} placeholder={placeholder} options={options}
                onchange={handleChange}>
            </lightning-combobox>
        </template>

        <template if:true={disabled}>
            <lightning-combobox name="picklist" label={label} value={value} variant={variant} placeholder={placeholder} options={options}
                onchange={handleChange} class="disabled" disabled>
            </lightning-combobox>
        </template>
    </div>
</template>