<template>
    <template if:true={loading}>
        <div class="backgroundInverse">
            <lightning-spinner alternative-text="Loading"></lightning-spinner>
        </div>
    </template>

    <div class="container">
        <template if:true={canEdit}>
            <article class="slds-card">
                <div class="slds-card__header slds-grid slds-m-around_none">
                    <header class="slds-media slds-media_center slds-has-flexi-truncate">
                        <div class="slds-media__figure">
                            <span class="slds-icon_container slds-icon-standard-filter">
                                <img src={lotteryIcon} alt="Lottery" class="lottery-icon">
                                <span class="slds-assistive-text">Lottery</span>
                            </span>
                        </div>
                        <div class="slds-media__body">
                            <h2 class="slds-card__header-title">
                                <a href="#" class="slds-card__header-link slds-truncate" title="Card Header">
                                    <span>{labels.createLot}</span>
                                </a>
                            </h2>
                        </div>
                    </header>
                </div>
                <div class="slds-card__body slds-card__body_inner">
                    <div class="slds-grid slds-gutters">
                        <div class="slds-col slds-size_7-of-8">
                            <div class="slds-grid slds-gutters fixed-height-field-combination">
                                <div class="slds-col slds-size_1-of-5">
                                    <lightning-combobox name="grade" label="Grade Applying For" value={selectedGrade} placeholder="Select a Grade"
                                        options={gradeOptions} required onchange={gradeOnChange}>
                                    </lightning-combobox>
                                </div>
                                <div class="slds-col slds-size_1-of-5">
                                    <lightning-combobox name="site" label="Site of Interest" value={selectedSite} placeholder="Select a Site"
                                        options={siteOptions} required onchange={siteOnChange} disabled={siteComboDisabled}>
                                    </lightning-combobox>
                                </div>
                                <div class="slds-col slds-size_1-of-5">
                                    <lightning-combobox name="term" label="Term Applying for" value={selectedTerm} placeholder="Select a Term"
                                        options={termOptions} required onchange={termOnChange}>
                                    </lightning-combobox>
                                </div>
                                <div class="slds-col slds-size_1-of-5">
                                    <lightning-input type="number" name="years" value={year} label="Enter a Year" minlength="4" maxlength="4"
                                        min="1900" max="9999" required onchange={yearOnChange} pattern="[0-9]{4}"
                                        message-when-pattern-mismatch="Please enter a valid year.">
                                    </lightning-input>
                                </div>
                                <div class="slds-col slds-size_1-of-5">
                                    <lightning-input type="number" name="seats" value={seats} label="Enter Number of Seats" required
                                        onchange={seatsOnChange}>
                                    </lightning-input>
                                </div>
                            </div>
                        </div>
                        <div class="slds-col slds-size_1-of-8">
                            <div class="slds-col">
                                <lightning-button label="Run Lottery" title="Run Lottery" onclick={runLottery}
                                    class="slds-var-m-left_x-small slds-show_inline-block run-process-button" disabled={runDisabled}>
                                </lightning-button>
                            </div>
                        </div>
                    </div>
                </div>
            </article>
        </template>

        <article class="slds-card">
            <div class="slds-card__header slds-grid slds-m-around_none">
                <header class="slds-media slds-media_center slds-has-flexi-truncate">
                    <div class="slds-media__figure">
                        <span class="slds-icon_container slds-icon-standard-quip-sheet" title="Lottery">
                            <img src={lotteryBallsIcon} alt="Lottery" class="lottery-balls-icon">
                            <span class="slds-assistive-text">Lottery</span>
                        </span>
                    </div>
                    <div class="slds-media__body">
                        <h2 class="slds-card__header-title">
                            <a href="#" class="slds-card__header-link slds-truncate" title="Card Header">
                                <span>{labels.activeTitle}</span>
                            </a>
                        </h2>
                    </div>
                </header>
            </div>
            <div class="slds-card__body slds-m-around_none">
                <c-lottery-list lotteries={lotteriesActive} has-lottery={hasActiveLotteries} active="true" onupdatelotteries={handleUpdateLotteries}>
                </c-lottery-list>
            </div>
        </article>

        <article class="slds-card">
            <div class="slds-card__header slds-grid slds-m-around_none">
                <header class="slds-media slds-media_center slds-has-flexi-truncate">
                    <div class="slds-media__figure">
                        <span class="slds-icon_container slds-icon-standard-thanks-loading" title="Lottery">
                            <img src={lotteryBallsIcon} alt="Lottery" class="lottery-balls-icon">
                            <span class="slds-assistive-text">Lottery</span>
                        </span>
                    </div>
                    <div class="slds-media__body">
                        <h2 class="slds-card__header-title">
                            <a href="#" class="slds-card__header-link slds-truncate" title="Card Header">
                                <span>{labels.inactiveTitle}</span>
                            </a>
                        </h2>
                    </div>
                </header>
            </div>
            <div class="slds-card__body slds-m-around_none">
                <c-lottery-list lotteries={lotteriesInactive} has-lottery={hasInactiveLotteries} active="false"
                    onupdatelotteries={handleUpdateLotteries}>
                </c-lottery-list>
            </div>
        </article>
    </div>
</template>