.container .slds-card__header {
	background: rgb(243, 243, 243);
	padding: 16px;
	border-bottom: 1px solid rgb(229, 229, 229);
	border-radius: 4px;
}

.fixed-height-field-combination {
	min-height: 76px;
}

.run-process-button {
	margin-top: 23px;
}

.inactive-icon {
	--sds-c-icon-color-background: #b7b4b4;
}

.lottery-icon {
	width: 31px;
	margin: 5px;
}

.lottery-balls-icon {
	width: 29px;
	margin: 2px;
}
