.container .slds-card__header {
	background: rgb(243, 243, 243);
	padding: 16px;
	border-bottom: 1px solid rgb(229, 229, 229);
	border-radius: 4px;
}

.fixed-height-field-combination {
	min-height: 85px;
}

.lottery {
	--sds-c-icon-color-background: rgb(48, 200, 90);
}

.lottery-icon {
	width: 31px;
	margin: 5px;
}

.availability-text {
	font-size: 11px;
}

.available {
	color: green;
}

.no-available {
	color: red;
}
