<template>
    <template if:true={loading}>
        <div class="backgroundInverse">
            <lightning-spinner alternative-text="Loading"></lightning-spinner>
        </div>
    </template>
    <div class="container">
        <article class="slds-card">
            <div class="slds-page-header slds-page-header_record-home">
                <div class="slds-page-header__row">
                    <div class="slds-page-header__col-title">
                        <div class="slds-media">
                            <div class="slds-media__figure">
                                <span class="slds-icon_container slds-icon-standard-tour">
                                    <img src={lotteryIcon} alt="Lottery" class="lottery-icon">
                                    <span class="slds-assistive-text">Lottery</span>
                                </span>
                            </div>
                            <div class="slds-media__body">
                                <div class="slds-page-header__name">
                                    <div class="slds-page-header__name-title">
                                        <h1>
                                            <span>Lottery</span>
                                            <span class="slds-page-header__title slds-truncate" title="Acme - 1,200 Widgets">{lottery.name}</span>
                                        </h1>
                                    </div>
                                </div>
                            </div>
                            <div class="slds-page-header__col-actions">
                                <div class="slds-page-header__controls">
                                    <div class="slds-page-header__control">
                                        <template if:true={modeEdit}>
                                            <lightning-button label="Save" class="slds-button" variant="brand" onclick={handleSave}>
                                            </lightning-button>
                                            <lightning-button label="Cancel" class="slds-button" onclick={handleCancel}>
                                            </lightning-button>
                                        </template>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="slds-card__body slds-card__body_inner slds-m-bottom_none">
                <template if:true={lotteryExist}>
                    <lightning-record-edit-form object-api-name="Lottery__c" record-id={lottery.id} density="comfy" onsubmit={handleSubmit}
                        onsuccess={handleSuccess}>
                        <div class="slds-grid fixed-height-field-combination">
                            <div class="slds-col slds-var-p-horizontal_small slds-var-p-vertical_x-small">
                                <lightning-output-field class="slds-form-element_readonly" field-name="Grade_Applying_For__c">
                                </lightning-output-field>
                            </div>
                            <div class="slds-col slds-var-p-horizontal_small slds-var-p-vertical_x-small">
                                <lightning-output-field class="slds-form-element_readonly" field-name="Site_of_Interest__c"> </lightning-output-field>
                            </div>
                            <div class="slds-col slds-var-p-horizontal_small slds-var-p-vertical_x-small">
                                <lightning-output-field class="slds-form-element_readonly" field-name="Term_Applying_for__c">
                                </lightning-output-field>
                            </div>
                            <div class="slds-col slds-var-p-horizontal_small slds-var-p-vertical_x-small">
                                <lightning-output-field class="slds-form-element_readonly" field-name="Year_applying_for__c">
                                </lightning-output-field>
                            </div>
                            <div class="slds-col slds-var-p-horizontal_small slds-var-p-vertical_x-small">
                                <lightning-output-field class="slds-form-element_readonly" field-name="Available_Seats__c"> </lightning-output-field>
                            </div>
                            <div class="slds-col slds-var-p-horizontal_small slds-var-p-vertical_x-small seats-input">
                                <template if:false={modeEdit}>
                                    <lightning-output-field class="slds-form-element_readonly input-reg" field-name="Seats__c">
                                    </lightning-output-field>
                                    <template if:true={canEdit}>
                                        <lightning-button-icon class="icon" icon-name="utility:edit" variant="bare" alternative-text="Edit"
                                            title="Edit" onclick={toogleMode}>
                                            <label>Edit</label>
                                        </lightning-button-icon>
                                    </template>
                                </template>
                                <template if:true={modeEdit}>
                                    <lightning-input class="input" label="Seats" field-name="Seats__c" type="number" value={seats}
                                        onchange={updateSeats}>
                                    </lightning-input>
                                </template>
                            </div>
                            <div class="slds-col slds-var-p-horizontal_small slds-var-p-vertical_x-small seats-input">
                                <lightning-output-field class="slds-form-element_readonly input-reg" field-name="Active__c"> </lightning-output-field>
                            </div>
                            <template if:false={lottery.active}>
                                <div class="slds-col slds-var-p-horizontal_small slds-var-p-vertical_x-small">
                                    <lightning-output-field class="slds-form-element_readonly" field-name="Inactivate_Date__c">
                                    </lightning-output-field>
                                </div>
                            </template>
                        </div>
                        <lightning-button class="slds-hide slds-var-m-top_small" type="submit" label="Submit"></lightning-button>
                    </lightning-record-edit-form>
                </template>
            </div>
        </article>

        <article class="slds-card">
            <div class="slds-card__header slds-grid slds-m-around_none">
                <header class="slds-media slds-media_center slds-has-flexi-truncate">
                    <div class="slds-media__figure">
                        <span class="slds-icon_container slds-icon-standard-quip-sheet" title="Lottery">
                            <lightning-icon icon-name="standard:reward" alternative-text="Lottery" title="Lottery" class="lottery">
                            </lightning-icon>
                            <span class="slds-assistive-text">Lottery</span>
                        </span>
                    </div>
                    <div class="slds-media__body">
                        <h2 class="slds-card__header-title">
                            <a href="#" class="slds-card__header-link slds-truncate" title="Card Header">
                                <span>{labels.selectedApps}</span>
                            </a>
                        </h2>
                    </div>
                </header>
            </div>
            <div class="slds-card__body slds-m-around_none">
                <lightning-datatable key-field="Id" class="slds-max-medium-table_stacked" data={selectedApps} columns={columnsSelected}
                    row-number-offset={rowOffset} suppress-bottom-bar hide-checkbox-column>
                </lightning-datatable>
                <template if:false={hasSelectedApps}>
                    <div class="slds-var-m-around_small">
                        <div class="slds-illustration slds-illustration_small" aria-hidden="true">
                            <img src="/img/chatter/OpenRoad.svg" class="slds-illustration__svg" alt="Desert" />
                        </div>
                        <div class="slds-align_absolute-center">
                            <span>{labels.noSelectedApps}</span>
                        </div>
                    </div>
                </template>
            </div>
        </article>

        <article class="slds-card">
            <div class="slds-card__header slds-grid slds-m-around_none">
                <header class="slds-media slds-media_center slds-has-flexi-truncate">
                    <div class="slds-media__figure">
                        <span class="slds-icon_container slds-icon-standard-waits" title="Lottery">
                            <lightning-icon icon-name="standard:waits" alternative-text="Waiting List" title="Waiting List">
                            </lightning-icon>
                            <span class="slds-assistive-text">Lottery</span>
                        </span>
                    </div>
                    <div class="slds-media__body">
                        <h2 class="slds-card__header-title">
                            <a href="#" class="slds-card__header-link slds-truncate" title="Card Header">
                                <span>{labels.waitingList}</span>
                            </a>
                        </h2>
                    </div>
                    <div class="slds-no-flex">
                        <span class={availabilityClass}>{availabilityText} </span>
                        <template if:true={lottery.active}>
                            <lightning-button label="Add student to selection" title="Add Student to selection" onclick={addToLottery}
                                class="slds-var-m-left_x-small" disabled={noAvailability}>
                            </lightning-button>
                        </template>
                    </div>
                </header>
            </div>
            <div class="slds-card__body slds-m-around_none">
                <lightning-datatable key-field="Id" class="slds-max-medium-table_stacked" data={waitingList} columns={columnsWaitingList}
                    row-number-offset={rowOffset} onrowselection={updateSelection} selected-rows={selectionRows} suppress-bottom-bar>
                </lightning-datatable>
                <template if:false={hasWaitingList}>
                    <div class="slds-var-m-around_small">
                        <div class="slds-illustration slds-illustration_small" aria-hidden="true">
                            <img src="/img/chatter/OpenRoad.svg" class="slds-illustration__svg" alt="Desert" />
                        </div>
                        <div class="slds-align_absolute-center">
                            <span>{labels.noWaitingList}</span>
                        </div>
                    </div>
                </template>
            </div>
        </article>
    </div>
</template>