<template>
    <div class="related-list">
        <template if:true={lotteries}>
            <c-custom-datatable key-field="id" class="slds-max-medium-table_stacked" data={lotteries} columns={columns} row-number-offset={rowOffset}
                onrowaction={callRowAction} show-row-number-column suppress-bottom-bar hide-checkbox-column>
            </c-custom-datatable>
        </template>
        <!-- <lightning-datatable key-field="id" class="slds-max-medium-table_stacked" data={lotteries} columns={columns} row-number-offset={rowOffset}
            onrowaction={callRowAction} show-row-number-column suppress-bottom-bar hide-checkbox-column>
        </lightning-datatable> -->
        <template if:false={hasLottery}>
            <div class="slds-var-m-around_small">
                <div class="slds-illustration slds-illustration_small" aria-hidden="true">
                    <img src="/img/chatter/OpenRoad.svg" class="slds-illustration__svg" alt="Desert" />
                </div>
                <div class="slds-align_absolute-center">
                    <span>{labels.noLottery}</span>
                </div>
            </div>
        </template>
    </div>
</template>