.THIS .sp-desktop{
    display: block;
}
.THIS .sp-mobile{
    display: none;
}

@media (max-width: 358px){
    .THIS .sp-mobile{
        display: block;
    }
    .THIS .sp-desktop{
        display: none;
    }
}