<template>
    <c-c-dt-picklist-field label={typeAttributes.label} value={typeAttributes.value} variant={typeAttributes.variant}
        placeholder={typeAttributes.placeholder} options={typeAttributes.options} context={typeAttributes.context} disabled={typeAttributes.disabled}>
    </c-c-dt-picklist-field>
</template>