html {
    background-color: #8c1d40;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

a,
a:hover {
    color: #8c1d40;
    text-decoration: underline;
}

body {
    color: #444444;
    font-family: 'Roboto', sans-serif;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top center;
    background-attachment: fixed;
    position: relative;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;

}

.sp-asu-logo {
    display: block;
    width: 224px;
    margin: 0 auto;
    padding: 30px 0 28px;
}

.sp-register form {
    width: 280px;
}

.sp-register label {
    display: block;
    color: #555555;
}

.sp-register input,
.sp-register select {
    margin-bottom: 14px;
    padding: 12px 14px;
    font-size: 16px;
    color: #666666;
    width: 100%;
    background-color: #ffffff;
    border: none;
    border-radius: 2px;
}

/*** BUTTON ***/
.slds-button {
    margin-top: 1rem;
    background-color: #8c1d40;
    border-color: #8c1d40;
    color: #FFFFFF;
    text-transform: uppercase;
     width: 100%;
    padding: 8px;
}

.slds-button--brand:disabled, 
.slds-button--brand[disabled], 
.slds-button_brand:disabled, 
.slds-button_brand[disabled] {
    background-color: #a0a0a0;
    border-color: #a0a0a0;
}


.sp-bck-white {
    background: #ffffffbf;
    padding: 1.85rem;
    border-radius: 4px; 
    text-align: left;
    max-width: 340px;
    margin: auto;
    margin-top: 15%;
    margin-bottom: 15%;
    display: inline-block;
    position: relative;
    font-size: 14px;
    z-index: 0;
}

.sp-grey {
    color: lightgray;
 }


/*** PAGE IMAGE BCK ***/
    img.sp-bck-full {
        min-height: 100%;
        min-width: 1024px;
        width: 100%;
        height: auto;
        position: fixed;
        top: 0;
        left: 0;
    }
    
    @media screen and (max-width: 1024px){
        img.sp-bck-full {
            left: 50%;
            margin-left: -512px; }
    }

/*** ERROR MESSAGES ***/
.sp-error,
.sp-error .slds-form-element__label {
    color: #c23934;
}

.sp-error input,
.sp-error select,
.sp-error .slds-checkbox_faux {
    border: 2px solid #c23934;
    background-color: rgb(194 57 52 / 7%);
}