.picklist-container,
.lookup-container {
	width: 90%;
	/* margin: 0 auto; */
}

.picklist-container .slds-is-disabled,
.lookup-container .slds-is-disabled {
	background: transparent;
	border: none;
}

.picklist-container .disabled .slds-input__icon-group,
.lookup-container .disabled .slds-input__icon-group{
	display: none;
}

.picklist-container .slds-dropdown,
.lookup-container .slds-dropdown {
	position: relative !important;
	z-index: 99 !important;
	max-height: 120px;
	overflow: scroll;
}

th.slds-has-focus,
td.slds-has-focus {
	box-shadow: none !important;
}

.custom-action .slds-button {
	height: 24px;
}