.seats-input {
    display: flex;
}

.seats-input .slds-input {
	border: 0;
    box-shadow: none;
    padding: 0;
    height: 21px;
    min-height: auto;
    line-height: 29px;
}

.seats-input .icon {
	margin-top: 24px;
    margin-left: -16px;
}

.seats-input .input {
    width: 100%;
}

.seats-input .input .slds-form-element__control {
	height: 25px;
    border-bottom: 1px solid rgb(229, 229, 229);
}

.seats-input .input-reg {
    height: 49px;
}